<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="PublishingCompanyEntities" connectionString="metadata=res://*/PublishingCompany.csdl|res://*/PublishingCompany.ssdl|res://*/PublishingCompany.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=PublishingCompany;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
